{block name="conteudo"}
	<form class="form-horizontal" role="form" action="{$aplication.app}usuario/corretor_user" method="POST">
	    <h2>Registro de usuário</h2>
	    <div class="col-md-12">
	        {if $erros}
	        <div class="alert alert-danger">
	            {foreach $erros as $erro}
	                {$erro} <br>
	            {/foreach}
	        </div>
	        {/if}
	    </div>
	    <div class="form-group">
	        <label for="nome" class="col-sm-3 control-label">Nome</label>
	        <div class="col-sm-9">
                <select name="corretor" class="form-control" id="sec_filter">
                    <option value="">Buscar corretor</option>
                    {foreach $corretores as $c}
                        <option value="{$c->id}">{$c->nome}</option>
                    {/foreach}
                </select>
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="email" class="col-sm-3 control-label">Email</label>
	        <div class="col-sm-9">
	            <input type="email" id="email" name="email" autocomplete="off" placeholder="Email" class="form-control">
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="senha" class="col-sm-3 control-label">Senha</label>
	        <div class="col-sm-9">
	            <input type="password" id="senha" name="senha" autocomplete="new-password" placeholder="Senha" class="form-control">
	        </div>
	    </div>
	    <div class="form-group">
	        <div class="col-sm-9 col-sm-offset-3">
	            <button type="submit" class="btn btn-primary ">Salvar</button>
	        </div>
	    </div>
	    <input type="hidden" value="" name="id" id="id">
	</form>
{/block}