{block name="conteudo"}
	<div class="col-md-12">
        {if $success}
        <div class="alert alert-success">
            {$success}
        </div>
        {/if}
        <p>
        	<a href="{$aplication.app}cliente/novo" class="btn btn-primary">Cadastrar novo cliente</a>
        </p>
    </div>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-hover single-client">
					<tr>
						<th>Nome</th>
						<th>Dados</th>
						<th>Coparecimento</th>
						<th>Ações</th>
					</tr>
                    {if $cliente}
					<tr class="{Estatico::classe($cliente->comparecimento)}">
						<td class="nome">{$cliente->nome}</td>
						<td class="email">
                            <strong>CPF/CNPJ: </strong> {$cliente->cpf_cnpj} <br>
                            <strong>E-mail:</strong> {$cliente->endereco[0]->email|default:' '} <br>
                        </td>
						<td>
                            {Estatico::comparecimento($cliente->comparecimento)}
                        </td>
						<td>
                            <a href="{$aplication.app}cliente/edit/{$cliente->id}" class="btn btn-edit btn-xs"><span class="glyphicon glyphicon-pencil"></span>Editar </a>
                            <!-- <a onclick="excluirConselheiro('undefined', {$cliente->id}, '{$cliente->nome}')" class="btn btn-edit btn-xs"><span class="glyphicon glyphicon-remove"></span>Excluir </a> -->
                            {if $cliente->comparecimento == 0}
                             <a href="javascript:;" class="btn btn-confirm btn-xs" onclick="setComparecimento({$cliente->id}, {$cliente->comparecimento})" role="button"><span class="glyphicon glyphicon-ok "></span> Confirmar presença</a>
                            {else if $cliente->comparecimento == 1}
                             <a href="javascript:;" class="btn btn-danger btn-xs" onclick="setComparecimento({$cliente->id}, {$cliente->comparecimento})" role="button"><span class="glyphicon glyphicon-remove-sign"></span> Não compareceu</a>
                            {/if}
                        </td>
					</tr>
                    {else}
                        <tr>
                            <td colspan="4"><p>Cliente não encontrado</p></td>
                        </tr>
                    {/if}
				</table>
			</div>
		</div>
	</div>
{/block}