{block  name="conteudo"}
    {literal}
        <div id="gerenciaapp">
            <router-view></router-view>
        </div>

        <template id="painel">
			<div class="gerencia">
				<count-lotes></count-lotes>
			</div>
        </template>
        <template id="count-lotes">
 			<div class="col-md-6 col-xs-12" id="counts">
 				<div class="contente">
	 				<header>
	 					Cientes
	 				</header>
	 				<main>
	 					<div class="col-md-12 col-xs-12">
			 				<div class="vendido l_box">
		 						<span class="v-text"><span style=" display:inline-block; width:10px; height:10px; background: green; border-radius: 50%"></span> Clientes Cadastrados  </span>
		 						<span class="number">{{counts.cadastro}}</span>

		 						<div class="clearfix"></div>
			 				</div>
		 				</div>
		 				
		 				<div class="col-md-6 col-xs-12">
			 				<div class="vendido l_box">
			 					<span class="v-text"><span style=" display:inline-block; width:10px; height:10px; background: green; border-radius: 50%"></span> Compareceram  </span>
			 					<span class="number">{{counts.compareceu}}</span>
			 				</div>
		 				</div>
		 				<div class="col-md-6 col-xs-12">	
			 				<div class="n_vendido l_box">
			 					<span class="v-text"><span style=" display:inline-block; width:10px; height:10px; background: red; border-radius: 50%"></span> Ainda não compareceu  </span>
			 					<span class="number">{{counts.cadastro - counts.compareceu}}</span>
			 				</div>
		 				</div>
		 				<div class="clearfix"></div>
	 				</main>
		 			<div class="clearfix"></div>
 				</div>
 			</div>
 			<div class="col-md-6 col-xs-12" id="counts">
 				<div class="contente">
	 				<header>
	 					Lotes
	 				</header>
	 				<main>
	 					<div class="col-md-12 col-xs-12">
			 				<div class="vendido l_box">
			 						
		 						<span class="v-text"><span style=" display:inline-block; width:10px; height:10px; background: green; border-radius: 50%"></span> Total de Lotes   </span>
		 						<span class="number">{{counts.total_lote}}</span>
			 					
								
		 						<div class="clearfix"></div>
			 				</div>
		 				</div>
		 				<div class="col-md-6 col-xs-12">
			 				<div class="vendido l_box">
			 					<span class="v-text"><span style=" display:inline-block; width:10px; height:10px; background: green; border-radius: 50%"></span> Vendidos  </span>
			 					<span class="number">{{counts.vendido}}</span>
			 				</div>
		 				</div>
		 				<div class="col-md-6 col-xs-12">	
			 				<div class="n_vendido l_box">
			 					<span class="v-text"><span style=" display:inline-block; width:10px; height:10px; background: red; border-radius: 50%"></span> Não vendidos  </span>
			 					<span class="number">{{counts.total_lote - counts.vendido}}</span>
			 				</div>
		 				</div>
		 			
		 				<div class="clearfix"></div>
	 				</main>
		 			<div class="clearfix"></div>
 				</div>
 			</div>
 			<div class="clearfix"></div>
 			<div class="col-md-12 col-xs-12">
	 			<div class="contente">
	 				<header>
	 					Levantamento por corretor
	 				</header>
	 				<main>
		 				<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Corretor</th>
										<th>Cadastros</th>
										<th>Vendido</th>
										<!-- th>Não Vendido</th> -->
										<th>Compareceram</th>
										<th>Não Compareceram</th>
										
									</tr>
								</thead>
								<tbody>
									<tr v-for="corretor in corretores | orderBy 'imobiliaria' ">
										<td>
											{{corretor.nome}} <br>
											<small>CRECI: {{corretor.creci}} Imobiliaria: {{corretor.imobiliaria}}</small> 
										</td>
										<td>{{soma(corretor.compareceram, corretor.noa_compareceu)}}</td>
										<td>{{corretor.vendido}}</td>
										
										<td>{{corretor.compareceram}}</td>
										<td>{{corretor.noa_compareceu}}</td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</main>
				</div>
			</div>
        </template>	

    {/literal}
{/block}

{block name="scripts"}
<script type="text/javascript" src="{$aplication.js}libs/moment.js"></script>
<script type="text/javascript" src="{$aplication.js}libs/vue.js"></script>
<script type="text/javascript" src="{$aplication.js}libs/vue-router.js"></script>
<script type="text/javascript" src="{$aplication.js}libs/vue-resource.js"></script>
<script type="text/javascript" src="{$aplication.js}appgerencia.js?v={rand(0,10)}"></script>
{/block}